/* general */
html,
body {
  font-family: 'Roboto', sans-serif;
  margin:0;
  padding:0;
  background-color: green;
}

div{
  color:white;
}

.roulette{
  margin-left: 550px;
}

/* title */
h1{
  margin-left: 600px;
  color:white;
  font-family: 'Cookie', cursive;
}

.roulette, .chiffres, .gauche {
  display: flex;
}

.two-square, .even, .nineteen-twelve, .second-twelve, .nineteen, .zero{
    border: 2px solid white;
}

/* gauche */
.gauche{
  margin-top: 53px;
}

.even, .cent-dix-huit, .first-twelve, .second-twelve, .third-twelve, .odd, .nineteen{
  transform: rotate(90deg);
}


/* droite */
.black{
  border-radius: 50px;
  background-color:black;
  text-align: center;
  /* width:33px;
  height:26px;
  margin-top: 1px; */
}

.red{
  border-radius: 60px;
  background-color: red;
  text-align: center;
}

.zero{
  text-align: center;
}

.chiffre{
  padding-right:10px;
  padding-left: 10px;
}

.chiffres, .chiffre, .black-circle, .other{
  border: 1px solid white;
}

